body {
    color: #fff;
    background: linear-gradient(329.54deg, #ffffff 0%, rgb(248, 248, 248) 100%),
        rgba(255, 255, 255, 1);
}

#page-landing {
    background: url("../../images/landing.svg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b9cfc;
    background-size: 1200px;
    background-position: right -5vw bottom 10vh;
}

#page-landing .content-wrapper {
    margin-top: 7vh;
    width: 80vw;
    max-width: 1500px;
    height: 90vh;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: 10% 2fr 2fr;
    grid-template-columns: 25vw 700px;
    gap: 2px;
    overflow: auto;
}

#page-landing .content-wrapper .logo {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    max-width: 250px;
}

#page-landing .content-wrapper main {
    max-width: 400px;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 90px;
}

#page-landing .content-wrapper main h1 {
    font-size: 65px;
    font-weight: 800;
    line-height: 70px;
}

#page-landing .content-wrapper main h2 {
    font-size: 50px;
    font-weight: 800;
    animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
    white-space: nowrap;
    border-right: 4px solid #1b9cfc;
    box-sizing: border-box;
}

#page-landing .content-wrapper main p {
    margin-top: 50px;
    font-size: 22px;
    line-height: 34px;
    color: rgb(116, 116, 116);
    font-weight: 400;
}
.content-wrapper .location {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.content-wrapper .location strong {
    font-weight: 800;
}

.content-wrapper .enter-app:hover {
    background: #badaf8;
}

.content-wrapper .page-landing--CTA {
    margin-top: 50px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: flex-start;
}

.content-wrapper .page-landing--CTA button {
    padding: 0.7em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    background-color: #1b9cfc;
    text-align: center;
    transition: all 0.2s;
    color: #fff;
    font-size: 20px;
    grid-area: 3 / 1 / 3 / 2;
}

.content-wrapper .page-landing--CTA button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.content-wrapper .page-landing--CTA button:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content-wrapper .page-landing--CTA button:focus {
    outline-color: #999999;
    outline: none;
    box-shadow: 0 0 2pt 2pt rgb(146, 146, 146);
}

.content-wrapper .about {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1b9cfc;
    color: rgb(247, 247, 247);
    text-align: center;
    z-index: 10;
    padding: 20px 0;
}

.footer a,
.footer a:visited {
    text-decoration: none;
    color: #fff;
}

.footer a:hover,
.footer a:active {
    color: #cbe8ff;
}

.footer h4 {
    font-weight: 400;
    font-size: 20px;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #1b9cfc;
    }
}
