.page-map {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

.page-map aside {
    width: 440px;
    background: linear-gradient(329.54deg, #1b9cfc 0%, #cae8ff 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-map aside h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 100px;
}

.page-map aside p {
    line-height: 28px;
    margin-top: 24px;
}

.page-map .leaflet-container {
    z-index: 5;
}

.page-map aside footer {
    display: flex;
    flex-direction: column;
    line-height: 34px;
    font-size: 30px;
}

.page-map aside footer strong {
    font-weight: 800;
}

.page-map aside footer span {
    font-weight: 400;
    font-size: 25px;
    margin-top: 5px;
}

.page-map .map-popup .leaflet-popup-content {
    color: #1b9cfc;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-map .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b9cfc;
    border-radius: 12px;
    box-shadow: 12.28px 27.65px 42.48px rgba(23, 126, 166, 0.16);
}

.page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.page-map .map-popup .leaflet-popup-tip-container {
    display: none;
}

.create-service {
    z-index: 10;
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    background: #1b9cfc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.create-service:hover {
    background: #1883d4;
}
